.about_container {
  margin-bottom: 50px;
}
.about_container .sombre {
  opacity: 0;
  background-color: transparent;
}

.about_list-item {
  margin-bottom: 30px;
}
.abt-list {
  width: 70%;
  margin: 40px auto;
}
@media (max-width: 768px) {
  .about_container {
    margin: 0;
  }
  .about_list-item {
    width: 95%;
    height: 30px;
    margin-left: 20px;
  }
}
