.gallery-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  background-color: rgba(246, 246, 246, 1);
  padding: 30px;
}

@media (max-width: 768px) {
  .gallery-container {
    background-color: transparent;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto;
  }
}
